.nav {
    background-color: #f9f9fa;
    padding: 20px 50px;
    border-top: 1px solid rgba(122, 122, 122, 0.438);
    position:fixed;
    bottom: 0px;
    width: 100%;
    box-sizing: border-box;
}

.nav__list {
    display: flex;
    justify-content: space-between;
}

.nav__link {
    color: #2e363e;
    position: relative;
}

.nav__notification {
    position: absolute;
    left: 12px;
    bottom: 9px;
}

.nav__update {
    
    position: absolute;
    left: 22px;
    bottom: 20px;
}

